Machine Learning in Agriculture
Recently we have observed the emerging concept of smart farming that makes agriculture more efficient and effective with the help of high-precision algorithms. The mechanism that drives it is Machine Learning — the scientific field that gives machines the ability to learn without being strictly programmed. It has emerged together with big data technologies and high-performance computing to create new opportunities to unravel, quantify, and understand data intensive processes in agricultural operational environments.

Machine learning is everywhere throughout the whole growing and harvesting cycle. It begins with a seed being planted in the soil — from the soil preparation, seeds breeding and water feed measurement — and it ends when neural networks pick up the harvest determining the ripeness with the help of computer vision.

The Toxic Pesticides

Though, many of us don't appreciate much, but a farmer's job is real test of endurance and determination. Once the seeds are sown, he works days and nights to make sure that he cultivates a good harvest at the end of season. A good harvest is ensured by several factors such as availability of water, soil fertility, protecting crops from rodents, timely use of pesticides & other useful chemicals and nature. While a lot of these factors are difficult to control for, the amount and frequency of pesticides is something the farmer can control.

Pesticides are also special, because while they protect the crop with the right dosage. But, if you add more than required, they may spoil the entire harvest. A high level of pesticide can deem the crop dead / unsuitable for consumption among many outcomes. This data is based on crops harvested by various farmers at the end of harvest season. To simplify the problem, you can assume that all other factors like variations in farming techniques have been controlled for.

You need to determine the outcome of the harvest season, i.e. whether the crop would be healthy (alive), damaged by pesticides or damaged by other reasons.
0--alive
1--damaged due to other cause
2--damaged due to pesticides

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
import pandas as pd

In [5]:
from sklearn.multiclass import OneVsRestClassifier

In [6]:
from sklearn.metrics import accuracy_score

In [7]:
from sklearn.metrics import classification_report

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
pd.set_option("max_rows", None)

In [21]:
df_train=pd.read_excel("train_agriculture.xlsx")
df_test=pd.read_excel("test_agriculture.xlsx")
df_train["dataset"]="train"
df_test["dataset"]="test"

In [22]:
df_train.shape

(4599, 11)

In [23]:
df_test.shape

(1199, 10)

In [24]:
df=pd.concat([df_train,df_test],ignore_index=True)

# Check The Correlation

In [133]:
#df.corr()

In [134]:
#df.describe()

In [135]:
#df.skew()

In [25]:
def missing_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Missing Values'})
        mz_table['Attributes'] = df.nunique()
        mz_table['Data Type'] = df.dtypes
        
        mz_table = mz_table.sort_values('Attributes', ascending=False).round(1)
        
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
               )

        return mz_table

missing_values_table(df)

Your selected dataframe has 11 columns and 5798 Rows.

,Zero Values,Missing Values,% of Total Missing Values,Attributes,Data Type
ID,0,0,0.0,5798,object
Estimated_Insects_Count,0,0,0.0,71,int64
Number_Weeks_Used,58,561,9.7,63,float64
Number_Weeks_Quit,2035,0,0.0,47,int64
Number_Doses_Week,67,0,0.0,20,int64
Pesticide_Use_Category,0,0,0.0,3,int64
Season,0,0,0.0,3,int64
Crop_Damage,3820,1199,20.7,3,float64
Crop_Type,4531,0,0.0,2,int64
Soil_Type,3060,0,0.0,2,int64
dataset,0,0,0.0,2,object

In [26]:
for col in df.columns:
    if df[col].dtype=="int64":
        print('**************************************',col,'******************************************')
        print()
        print('No. of unique attributes:',df[col].nunique())
        print()
        print('No. of unique attributes:',df[col].unique())
        print()

************************************** Estimated_Insects_Count ******************************************

No. of unique attributes: 71

No. of unique attributes: [ 188  209  257  342  448  577  731 1132 1212 1575 1785 2138 2401 2999
 3516 3895 4096  150  151  168  232  231  256  283  312  311  375  411
  410  488  489  531  626  625  677  732  789  790  851  850  915  916
  984 1056 1296 1297 1385 1478 1576 1678 1786 1898 2015 2016 2139 2267
 2402 2542 2541 2688 2687 2840 3164 3165 3336 3337 3702 3896  169 3515
 4097]

************************************** Crop_Type ******************************************

No. of unique attributes: 2

No. of unique attributes: [1 0]

************************************** Soil_Type ******************************************

No. of unique attributes: 2

No. of unique attributes: [0 1]

************************************** Pesticide_Use_Category ******************************************

No. of unique attributes: 3

No. of unique attributes: [1 3 2]

************************************** Number_Doses_Week ******************************************

No. of unique attributes: 20

No. of unique attributes: [ 0 30 40 60 20 25 45 50 15 10  5 35 70 55 80 90 85 65 75 95]

************************************** Number_Weeks_Quit ******************************************

No. of unique attributes: 47

No. of unique attributes: [ 0  1  9  4 13  3 14  6  2 12 15 10  8 11  7  5 17 18 16 20 21 19 22 24
 23 27 25 28 26 29 30 31 33 32 36 37 34 39 44 41 35 47 46 40 42 38 43]

************************************** Season ******************************************

No. of unique attributes: 3

No. of unique attributes: [1 2 3]

In [27]:
for col in df.columns:
    if df[col].dtype=="float64":
        print('**************************************',col,'******************************************')
        print()
        print('No. of unique attributes:',df[col].nunique())
        print()
        print('No. of unique attributes:',df[col].unique())
        print()

************************************** Number_Weeks_Used ******************************************

No. of unique attributes: 63

No. of unique attributes: [ 0. nan 26. 20. 15. 14. 19. 24.  8. 23. 25. 28. 29. 22. 21. 17. 30. 35.
 32. 27. 16. 31. 33. 34. 39. 38. 42. 40. 41. 36. 44. 37. 46. 45. 47. 43.
 50. 10. 49. 53. 48. 51. 54. 52. 55. 56. 61. 18. 57. 62. 60. 63. 66. 59.
 64. 13.  7.  5. 12.  6.  9. 58. 11. 65.]

************************************** Crop_Damage ******************************************

No. of unique attributes: 3

No. of unique attributes: [ 0.  1.  2. nan]

In [28]:
df = df.drop(['ID'],axis=1)

In [29]:
df.head()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage,dataset
0,188,1,0,1,0,0.0,0,1,0.0,train
1,209,1,0,1,0,0.0,0,2,1.0,train
2,257,1,0,1,0,0.0,0,2,1.0,train
3,257,1,1,1,0,0.0,0,2,1.0,train
4,342,1,0,1,0,0.0,0,2,1.0,train

In [30]:
df[(df.Number_Weeks_Used.isnull())]

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage,dataset
5,448,0,1,1,0,NaN,0,2,1.0,train
6,448,0,1,1,0,NaN,0,2,1.0,train
10,1212,1,0,1,0,NaN,0,3,0.0,train
17,2401,0,1,1,0,NaN,0,1,1.0,train
35,257,0,0,3,30,NaN,0,2,0.0,train
51,411,0,0,3,30,NaN,0,2,0.0,train
59,448,0,0,3,10,NaN,0,2,1.0,train
60,448,0,0,3,30,NaN,0,3,1.0,train
65,448,0,1,3,45,NaN,0,2,0.0,train
80,531,0,0,3,20,NaN,0,1,0.0,train
126,789,0,1,3,20,NaN,0,2,1.0,train
134,851,0,1,3,30,NaN,0,1,0.0,train
135,850,0,1,3,50,NaN,0,2,0.0,train
155,1056,0,0,3,40,NaN,0,2,1.0,train
160,1056,0,1,3,50,NaN,0,2,0.0,train
163,1056,0,1,3,50,NaN,0,2,1.0,train
169,1132,0,0,3,5,NaN,0,2,0.0,train
193,1212,0,0,3,40,NaN,0,3,1.0,train
204,1212,0,1,3,15,NaN,0,2,1.0,train
205,1212,0,1,3,20,NaN,0,1,1.0,train
206,1212,0,1,3,20,NaN,0,2,1.0,train
211,1296,0,0,3,10,NaN,0,2,1.0,train
215,1296,0,1,3,40,NaN,0,2,0.0,train
250,1576,0,0,3,30,NaN,0,2,0.0,train
251,1576,0,0,3,50,NaN,0,2,0.0,train
270,1678,0,1,3,50,NaN,0,2,1.0,train
282,1785,0,1,3,20,NaN,0,2,1.0,train
283,1785,0,1,3,20,NaN,0,1,1.0,train
298,2015,0,0,3,20,NaN,0,3,0.0,train
299,2015,0,0,3,50,NaN,0,2,0.0,train
301,2016,0,0,3,30,NaN,0,2,1.0,train
313,2139,0,0,3,40,NaN,0,1,0.0,train
326,2267,0,1,3,15,NaN,0,1,0.0,train
329,2401,0,0,3,15,NaN,0,2,0.0,train
341,2541,0,0,3,15,NaN,0,1,0.0,train
353,2687,0,1,3,30,NaN,0,3,1.0,train
367,2999,0,1,3,10,NaN,0,3,1.0,train
371,3165,0,0,3,5,NaN,0,3,1.0,train
409,283,1,1,3,10,NaN,0,2,0.0,train
428,375,1,0,3,15,NaN,0,2,0.0,train
441,448,1,0,3,10,NaN,0,2,0.0,train
446,448,1,1,3,50,NaN,0,3,0.0,train
454,488,1,1,3,25,NaN,0,2,0.0,train
465,577,1,0,3,40,NaN,0,3,1.0,train
467,577,1,1,3,5,NaN,0,2,0.0,train
468,577,1,1,3,20,NaN,0,2,0.0,train
472,625,1,1,3,40,NaN,0,1,0.0,train
503,851,1,0,3,20,NaN,0,3,0.0,train
511,915,1,0,3,5,NaN,0,2,0.0,train
515,915,1,0,3,20,NaN,0,2,1.0,train
526,984,1,0,3,35,NaN,0,1,0.0,train
539,1056,1,1,3,15,NaN,0,2,0.0,train
561,1212,1,1,3,60,NaN,0,2,0.0,train
564,1296,1,0,3,5,NaN,0,1,0.0,train
566,1296,1,0,3,30,NaN,0,3,0.0,train
580,1385,1,0,3,30,NaN,0,2,0.0,train
583,1385,1,1,3,5,NaN,0,1,0.0,train
595,1478,1,0,3,20,NaN,0,1,2.0,train
596,1478,1,1,3,5,NaN,0,1,0.0,train
599,1478,1,1,3,30,NaN,0,2,0.0,train
605,1576,1,1,3,15,NaN,0,2,0.0,train
618,1785,1,0,3,10,NaN,0,2,0.0,train
629,1785,1,1,3,40,NaN,0,3,0.0,train
678,2542,1,1,3,30,NaN,0,3,0.0,train
683,2688,1,0,3,5,NaN,0,2,1.0,train
688,2999,1,0,3,20,NaN,0,1,1.0,train
698,3337,1,1,3,40,NaN,0,2,0.0,train
706,4096,1,1,3,15,NaN,0,1,1.0,train
707,169,0,0,2,30,NaN,1,2,0.0,train
708,232,0,0,2,20,NaN,9,2,0.0,train
715,342,0,0,2,20,NaN,3,2,0.0,train
742,448,0,0,2,30,NaN,14,2,0.0,train
766,531,0,0,2,20,NaN,12,1,0.0,train
777,577,0,0,2,20,NaN,17,1,0.0,train
780,577,0,0,2,20,NaN,2,2,0.0,train
787,577,0,0,2,40,NaN,7,1,0.0,train
789,577,0,0,2,40,NaN,2,2,0.0,train
792,577,0,0,2,60,NaN,2,1,0.0,train
799,625,0,0,2,30,NaN,15,3,0.0,train
802,625,0,0,2,40,NaN,12,2,0.0,train
806,625,0,0,2,60,NaN,10,3,0.0,train
815,677,0,0,2,30,NaN,8,2,0.0,train
817,677,0,0,2,30,NaN,7,1,0.0,train
832,731,0,0,2,25,NaN,15,2,0.0,train
842,789,0,0,2,15,NaN,13,1,0.0,train
872,851,0,0,2,15,NaN,14,2,1.0,train
877,915,0,0,2,15,NaN,0,3,0.0,train
899,984,0,0,2,20,NaN,2,2,0.0,train
908,984,0,0,2,60,NaN,19,1,0.0,train
931,1056,0,0,2,25,NaN,14,2,0.0,train
936,1056,0,0,2,40,NaN,15,2,0.0,train
940,1056,0,0,2,60,NaN,0,1,0.0,train
944,1056,0,0,2,40,NaN,2,1,2.0,train
945,1132,0,0,2,40,NaN,15,2,0.0,train
950,1132,0,0,2,15,NaN,18,2,0.0,train
973,1132,0,0,2,40,NaN,1,2,0.0,train
980,1132,0,0,2,30,NaN,9,2,2.0,train
985,1212,0,0,2,10,NaN,12,3,0.0,train
989,1212,0,0,2,20,NaN,19,3,0.0,train
992,1212,0,0,2,30,NaN,27,2,0.0,train
997,1212,0,0,2,60,NaN,6,2,0.0,train
1020,1385,0,0,2,5,NaN,10,1,0.0,train
1038,1385,0,0,2,30,NaN,13,2,0.0,train
1042,1385,0,0,2,40,NaN,13,1,0.0,train
1048,1385,0,0,2,45,NaN,6,2,1.0,train
1060,1478,0,0,2,20,NaN,4,3,0.0,train
1067,1478,0,0,2,30,NaN,4,2,2.0,train
1068,1575,0,0,2,10,NaN,31,2,0.0,train
1080,1576,0,0,2,40,NaN,3,2,0.0,train
1083,1576,0,0,2,30,NaN,16,3,1.0,train
1086,1678,0,0,2,20,NaN,12,2,0.0,train
1091,1678,0,0,2,30,NaN,1,2,0.0,train
1105,1785,0,0,2,10,NaN,7,2,0.0,train
1106,1786,0,0,2,10,NaN,22,2,0.0,train
1112,1785,0,0,2,20,NaN,10,3,0.0,train
1121,1786,0,0,2,30,NaN,4,1,0.0,train
1147,1898,0,0,2,40,NaN,6,2,0.0,train
1150,1898,0,0,2,40,NaN,4,2,0.0,train
1156,2016,0,0,2,10,NaN,30,1,0.0,train
1170,2015,0,0,2,30,NaN,0,3,0.0,train
1182,2138,0,0,2,10,NaN,26,2,0.0,train
1211,2267,0,0,2,20,NaN,15,2,0.0,train
1219,2267,0,0,2,20,NaN,7,2,0.0,train
1224,2267,0,0,2,30,NaN,18,2,0.0,train
1226,2267,0,0,2,40,NaN,30,1,0.0,train
1227,2267,0,0,2,40,NaN,9,1,0.0,train
1230,2267,0,0,2,30,NaN,19,3,1.0,train
1237,2401,0,0,2,20,NaN,31,2,0.0,train
1265,2542,0,0,2,35,NaN,37,3,1.0,train
1273,2687,0,0,2,35,NaN,33,1,0.0,train
1274,2688,0,0,2,40,NaN,31,3,0.0,train
1285,2840,0,0,2,40,NaN,0,2,0.0,train
1290,2999,0,0,2,5,NaN,24,2,0.0,train
1310,3337,0,0,2,20,NaN,24,1,0.0,train
1319,3516,0,0,2,20,NaN,26,1,0.0,train
1344,3895,0,0,2,40,NaN,12,1,0.0,train
1360,232,0,1,2,5,NaN,4,1,0.0,train
1366,232,0,1,2,15,NaN,8,2,1.0,train
1391,375,0,1,2,25,NaN,4,2,0.0,train
1392,410,0,1,2,30,NaN,6,1,0.0,train
1393,411,0,1,2,10,NaN,15,1,0.0,train
1394,411,0,1,2,10,NaN,1,3,0.0,train
1400,410,0,1,2,30,NaN,3,2,0.0,train
1418,448,0,1,2,30,NaN,2,1,0.0,train
1419,448,0,1,2,35,NaN,7,2,0.0,train
1431,488,0,1,2,20,NaN,10,2,0.0,train
1438,489,0,1,2,40,NaN,9,2,0.0,train
1453,531,0,1,2,40,NaN,6,2,0.0,train
1454,531,0,1,2,40,NaN,18,1,0.0,train
1468,577,0,1,2,15,NaN,11,2,0.0,train
1477,577,0,1,2,30,NaN,9,1,0.0,train
1485,577,0,1,2,40,NaN,3,2,0.0,train
1496,625,0,1,2,20,NaN,8,1,0.0,train
1508,626,0,1,2,30,NaN,12,2,0.0,train
1509,626,0,1,2,30,NaN,1,2,0.0,train
1514,626,0,1,2,50,NaN,8,1,0.0,train
1515,625,0,1,2,50,NaN,0,3,0.0,train
1527,677,0,1,2,10,NaN,18,2,0.0,train
1530,677,0,1,2,10,NaN,11,2,0.0,train
1534,677,0,1,2,20,NaN,11,3,0.0,train
1545,677,0,1,2,30,NaN,0,2,0.0,train
1548,677,0,1,2,40,NaN,6,2,0.0,train
1552,677,0,1,2,50,NaN,7,2,0.0,train
1559,732,0,1,2,10,NaN,15,2,0.0,train
1592,789,0,1,2,10,NaN,14,1,0.0,train
1602,790,0,1,2,25,NaN,21,1,0.0,train
1619,851,0,1,2,20,NaN,19,2,0.0,train
1625,851,0,1,2,20,NaN,14,2,0.0,train
1649,851,0,1,2,60,NaN,23,3,0.0,train
1656,916,0,1,2,10,NaN,24,2,0.0,train
1664,915,0,1,2,20,NaN,20,3,0.0,train
1671,915,0,1,2,20,NaN,3,2,0.0,train
1678,915,0,1,2,30,NaN,9,2,0.0,train
1679,915,0,1,2,30,NaN,2,2,0.0,train
1714,984,0,1,2,30,NaN,18,2,0.0,train
1721,984,0,1,2,35,NaN,12,3,0.0,train
1727,984,0,1,2,40,NaN,14,3,0.0,train
1728,984,0,1,2,40,NaN,2,2,0.0,train
1742,1056,0,1,2,10,NaN,0,3,0.0,train
1759,1056,0,1,2,30,NaN,0,2,0.0,train
1770,1132,0,1,2,30,NaN,18,2,0.0,train
1775,1132,0,1,2,10,NaN,18,2,0.0,train
1779,1132,0,1,2,20,NaN,23,3,0.0,train
1790,1132,0,1,2,40,NaN,28,1,0.0,train
1801,1132,0,1,2,60,NaN,12,2,0.0,train
1802,1132,0,1,2,50,NaN,15,1,1.0,train
1810,1212,0,1,2,10,NaN,21,3,0.0,train
1825,1212,0,1,2,30,NaN,4,2,0.0,train
1845,1297,0,1,2,10,NaN,4,3,0.0,train
1850,1296,0,1,2,20,NaN,12,1,0.0,train
1883,1385,0,1,2,20,NaN,13,3,0.0,train
1895,1385,0,1,2,40,NaN,19,1,0.0,train
1897,1385,0,1,2,40,NaN,15,2,0.0,train
1919,1478,0,1,2,20,NaN,12,2,0.0,train
1929,1478,0,1,2,40,NaN,16,1,0.0,train
1941,1478,0,1,2,40,NaN,22,2,1.0,train
1943,1478,0,1,2,20,NaN,21,3,1.0,train
1954,1575,0,1,2,20,NaN,24,1,0.0,train
1957,1575,0,1,2,20,NaN,15,1,0.0,train
1969,1678,0,1,2,10,NaN,32,2,0.0,train
1970,1678,0,1,2,15,NaN,27,3,0.0,train
1991,1678,0,1,2,15,NaN,14,3,1.0,train
1995,1678,0,1,2,35,NaN,15,3,1.0,train
2005,1785,0,1,2,20,NaN,0,1,0.0,train
2016,1786,0,1,2,40,NaN,14,2,0.0,train
2023,1785,0,1,2,20,NaN,10,2,1.0,train
2046,2015,0,1,2,5,NaN,35,2,0.0,train
2059,2015,0,1,2,25,NaN,8,1,0.0,train
2062,2016,0,1,2,45,NaN,28,2,0.0,train
2076,2139,0,1,2,40,NaN,14,3,0.0,train
2125,2541,0,1,2,5,NaN,20,1,0.0,train
2144,2688,0,1,2,20,NaN,22,2,0.0,train
2146,2688,0,1,2,20,NaN,8,3,0.0,train
2156,2840,0,1,2,15,NaN,20,2,0.0,train
2159,2840,0,1,2,30,NaN,24,1,0.0,train
2162,2840,0,1,2,20,NaN,14,3,1.0,train
2166,2840,0,1,2,20,NaN,25,2,1.0,train
2174,2999,0,1,2,20,NaN,44,3,0.0,train
2177,2999,0,1,2,60,NaN,14,2,0.0,train
2181,3165,0,1,2,30,NaN,11,2,1.0,train
2199,257,1,0,2,5,NaN,3,2,0.0,train
2202,283,1,0,2,40,NaN,8,2,0.0,train
2203,312,1,0,2,10,NaN,3,1,0.0,train
2207,312,1,0,2,60,NaN,7,2,0.0,train
2211,342,1,0,2,20,NaN,0,1,0.0,train
2213,342,1,0,2,40,NaN,2,1,0.0,train
2225,411,1,0,2,30,NaN,4,1,0.0,train
2234,448,1,0,2,40,NaN,0,2,0.0,train
2254,577,1,0,2,25,NaN,10,2,0.0,train
2258,625,1,0,2,10,NaN,2,2,0.0,train
2259,625,1,0,2,15,NaN,10,3,0.0,train
2273,677,1,0,2,25,NaN,9,1,0.0,train
2276,677,1,0,2,40,NaN,13,2,0.0,train
2278,732,1,0,2,5,NaN,19,1,0.0,train
2285,732,1,0,2,10,NaN,1,2,0.0,train
2320,851,1,0,2,40,NaN,5,2,0.0,train
2328,915,1,0,2,15,NaN,0,2,0.0,train
2333,915,1,0,2,20,NaN,5,1,0.0,train
2345,984,1,0,2,5,NaN,3,2,0.0,train
2371,1132,1,0,2,10,NaN,11,1,0.0,train
2375,1132,1,0,2,15,NaN,12,1,0.0,train
2382,1212,1,0,2,10,NaN,3,2,0.0,train
2390,1212,1,0,2,40,NaN,28,2,0.0,train
2427,1478,1,0,2,20,NaN,2,3,0.0,train
2428,1478,1,0,2,20,NaN,6,2,0.0,train
2437,1576,1,0,2,10,NaN,3,2,0.0,train
2438,1576,1,0,2,10,NaN,13,2,0.0,train
2464,1678,1,0,2,60,NaN,9,2,0.0,train
2472,1786,1,0,2,20,NaN,30,1,0.0,train
2489,1898,1,0,2,30,NaN,13,1,0.0,train
2498,1898,1,0,2,20,NaN,16,2,1.0,train
2499,2016,1,0,2,20,NaN,20,3,0.0,train
2506,2015,1,0,2,40,NaN,2,2,0.0,train
2527,2267,1,0,2,20,NaN,4,2,0.0,train
2535,2401,1,0,2,20,NaN,6,2,0.0,train
2546,2688,1,0,2,20,NaN,22,2,0.0,train
2557,2999,1,0,2,15,NaN,4,2,1.0,train
2568,3336,1,0,2,20,NaN,16,2,1.0,train
2576,915,1,1,1,0,NaN,0,3,1.0,train
2603,188,0,0,3,25,NaN,0,1,0.0,train
2605,188,0,0,3,45,NaN,0,3,0.0,train
2606,188,0,1,3,30,NaN,0,1,1.0,train
2610,232,0,0,3,40,NaN,0,2,0.0,train
2611,232,0,1,3,5,NaN,0,2,0.0,train
2623,342,0,1,3,25,NaN,0,3,0.0,train
2624,342,0,1,3,35,NaN,0,2,0.0,train
2638,410,0,1,3,40,NaN,0,2,0.0,train
2646,448,0,1,3,35,NaN,0,1,0.0,train
2663,531,0,0,3,20,NaN,0,1,2.0,train
2676,577,0,1,3,25,NaN,0,2,1.0,train
2680,625,0,1,3,10,NaN,0,1,0.0,train
2684,625,0,1,3,60,NaN,0,3,0.0,train
2690,677,0,1,3,25,NaN,0,2,0.0,train
2702,731,0,1,3,80,NaN,0,2,0.0,train
2711,790,0,1,3,30,NaN,0,2,0.0,train
2724,915,0,0,3,20,NaN,0,1,0.0,train
2726,916,0,0,3,25,NaN,0,1,0.0,train
2738,984,0,0,3,20,NaN,0,3,0.0,train
2750,1056,0,1,3,25,NaN,0,2,0.0,train
2766,1132,0,1,3,25,NaN,0,2,1.0,train
2787,1296,0,1,3,20,NaN,0,2,0.0,train
2790,1296,0,1,3,40,NaN,0,1,0.0,train
2803,1385,0,1,3,50,NaN,0,3,1.0,train
2807,1478,0,1,3,15,NaN,0,2,0.0,train
2809,1478,0,1,3,60,NaN,0,3,0.0,train
2816,1576,0,0,3,20,NaN,0,3,0.0,train
2819,1576,0,1,3,10,NaN,0,2,0.0,train
2822,1576,0,1,3,30,NaN,0,2,0.0,train
2823,1575,0,1,3,30,NaN,0,2,0.0,train
2835,1786,0,0,3,10,NaN,0,2,0.0,train
2836,1786,0,0,3,15,NaN,0,1,0.0,train
2840,1785,0,0,3,25,NaN,0,2,1.0,train
2841,1786,0,0,3,20,NaN,0,1,2.0,train
2852,1898,0,1,3,5,NaN,0,2,0.0,train
2861,2015,0,0,3,40,NaN,0,1,2.0,train
2878,2138,0,1,3,20,NaN,0,2,1.0,train
2880,2267,0,0,3,20,NaN,0,2,0.0,train
2884,2267,0,0,3,15,NaN,0,2,2.0,train
2891,2401,0,0,3,30,NaN,0,2,1.0,train
2909,2687,0,0,3,20,NaN,0,1,1.0,train
2918,2999,0,0,3,5,NaN,0,2,0.0,train
2922,3165,0,0,3,40,NaN,0,1,1.0,train
2935,3516,0,0,3,10,NaN,0,2,0.0,train
2943,3702,0,1,3,10,NaN,0,2,1.0,train
2946,150,1,0,3,15,NaN,0,2,0.0,train
2953,188,1,0,3,30,NaN,0,1,0.0,train
2956,209,1,0,3,5,NaN,0,2,0.0,train
2970,311,1,1,3,5,NaN,0,3,0.0,train
2981,375,1,0,3,30,NaN,0,2,0.0,train
3001,488,1,1,3,15,NaN,0,2,0.0,train
3014,531,1,1,3,20,NaN,0,1,1.0,train
3016,577,1,0,3,5,NaN,0,1,0.0,train
3017,577,1,0,3,15,NaN,0,2,0.0,train
3059,790,1,1,3,25,NaN,0,2,0.0,train
3069,851,1,0,3,40,NaN,0,2,1.0,train
3073,915,1,0,3,20,NaN,0,2,0.0,train
3100,1056,1,1,3,20,NaN,0,1,0.0,train
3118,1132,1,1,3,20,NaN,0,1,1.0,train
3135,1296,1,1,3,40,NaN,0,2,1.0,train
3167,1678,1,0,3,40,NaN,0,3,1.0,train
3171,1678,1,1,3,20,NaN,0,1,0.0,train
3178,1785,1,1,3,10,NaN,0,3,0.0,train
3184,1898,1,0,3,20,NaN,0,3,0.0,train
3192,1898,1,1,3,20,NaN,0,2,0.0,train
3204,2015,1,1,3,30,NaN,0,2,1.0,train
3209,2139,1,1,3,20,NaN,0,1,1.0,train
3217,2267,1,0,3,30,NaN,0,3,0.0,train
3219,2267,1,0,3,5,NaN,0,1,1.0,train
3230,2542,1,0,3,40,NaN,0,3,0.0,train
3234,2687,1,1,3,15,NaN,0,1,0.0,train
3235,2687,1,1,3,40,NaN,0,2,0.0,train
3258,256,0,0,2,20,NaN,8,1,0.0,train
3264,342,0,0,2,15,NaN,0,2,0.0,train
3271,375,0,0,2,20,NaN,2,1,0.0,train
3273,375,0,0,2,30,NaN,12,2,0.0,train
3275,410,0,0,2,20,NaN,10,1,0.0,train
3290,448,0,0,2,30,NaN,3,2,0.0,train
3294,448,0,0,2,40,NaN,3,2,0.0,train
3299,489,0,0,2,30,NaN,17,3,0.0,train
3306,488,0,0,2,20,NaN,17,2,1.0,train
3310,531,0,0,2,20,NaN,16,1,0.0,train
3312,531,0,0,2,20,NaN,6,2,0.0,train
3315,531,0,0,2,30,NaN,18,1,0.0,train
3319,531,0,0,2,40,NaN,15,2,0.0,train
3352,626,0,0,2,50,NaN,1,1,0.0,train
3359,677,0,0,2,15,NaN,11,3,0.0,train
3368,677,0,0,2,40,NaN,10,1,0.0,train
3378,731,0,0,2,10,NaN,4,1,0.0,train
3419,851,0,0,2,25,NaN,1,1,0.0,train
3430,915,0,0,2,10,NaN,21,1,0.0,train
3435,915,0,0,2,20,NaN,20,2,0.0,train
3437,915,0,0,2,20,NaN,25,1,0.0,train
3440,916,0,0,2,20,NaN,0,2,0.0,train
3442,916,0,0,2,30,NaN,17,1,0.0,train
3488,1056,0,0,2,30,NaN,9,2,0.0,train
3504,1132,0,0,2,20,NaN,17,1,0.0,train
3512,1132,0,0,2,30,NaN,28,1,0.0,train
3527,1132,0,0,2,40,NaN,23,1,1.0,train
3538,1212,0,0,2,30,NaN,15,2,0.0,train
3564,1296,0,0,2,40,NaN,16,1,0.0,train
3587,1385,0,0,2,20,NaN,16,2,0.0,train
3603,1385,0,0,2,20,NaN,1,2,1.0,train
3627,1478,0,0,2,15,NaN,17,1,1.0,train
3641,1576,0,0,2,25,NaN,5,1,0.0,train
3643,1575,0,0,2,35,NaN,20,3,0.0,train
3647,1576,0,0,2,40,NaN,8,3,0.0,train
3661,1678,0,0,2,5,NaN,10,3,0.0,train
3666,1678,0,0,2,20,NaN,21,2,0.0,train
3672,1678,0,0,2,20,NaN,14,1,0.0,train
3684,1678,0,0,2,50,NaN,21,2,1.0,train
3693,1786,0,0,2,15,NaN,25,3,0.0,train
3709,1785,0,0,2,35,NaN,11,2,0.0,train
3718,1786,0,0,2,80,NaN,3,2,2.0,train
3731,1898,0,0,2,30,NaN,9,1,0.0,train
3761,2015,0,0,2,45,NaN,20,3,0.0,train
3776,2138,0,0,2,20,NaN,30,3,0.0,train
3796,2139,0,0,2,25,NaN,28,2,2.0,train
3818,2402,0,0,2,5,NaN,22,2,0.0,train
3844,2541,0,0,2,20,NaN,16,2,1.0,train
3868,2688,0,0,2,20,NaN,14,1,1.0,train
3870,2688,0,0,2,20,NaN,22,3,1.0,train
3887,2999,0,0,2,10,NaN,0,2,0.0,train
3909,3164,0,0,2,20,NaN,9,3,1.0,train
3930,3702,0,0,2,20,NaN,4,1,1.0,train
3935,3895,0,0,2,20,NaN,19,2,2.0,train
3947,188,0,1,2,30,NaN,7,2,0.0,train
3965,342,0,1,2,15,NaN,11,3,0.0,train
3976,375,0,1,2,40,NaN,12,2,0.0,train
3980,410,0,1,2,15,NaN,2,2,0.0,train
3981,410,0,1,2,20,NaN,9,2,0.0,train
3987,410,0,1,2,60,NaN,8,2,0.0,train
4008,488,0,1,2,10,NaN,2,1,0.0,train
4025,488,0,1,2,20,NaN,7,2,1.0,train
4028,531,0,1,2,10,NaN,16,2,0.0,train
4041,577,0,1,2,60,NaN,5,1,0.0,train
4043,577,0,1,2,15,NaN,4,2,0.0,train
4045,577,0,1,2,15,NaN,11,2,0.0,train
4050,577,0,1,2,20,NaN,8,1,0.0,train
4061,577,0,1,2,40,NaN,4,3,0.0,train
4062,577,0,1,2,40,NaN,10,2,0.0,train
4063,577,0,1,2,40,NaN,3,2,0.0,train
4088,625,0,1,2,70,NaN,1,2,0.0,train
4112,677,0,1,2,40,NaN,12,1,0.0,train
4138,790,0,1,2,20,NaN,20,2,0.0,train
4144,790,0,1,2,35,NaN,1,3,0.0,train
4161,851,0,1,2,10,NaN,19,2,0.0,train
4173,851,0,1,2,30,NaN,16,2,0.0,train
4182,851,0,1,2,50,NaN,0,2,0.0,train
4195,915,0,1,2,25,NaN,19,2,0.0,train
4210,916,0,1,2,50,NaN,4,2,0.0,train
4214,915,0,1,2,20,NaN,3,2,1.0,train
4243,1056,0,1,2,5,NaN,18,3,0.0,train
4252,1056,0,1,2,20,NaN,15,3,0.0,train
4265,1056,0,1,2,40,NaN,17,2,0.0,train
4281,1132,0,1,2,10,NaN,28,2,0.0,train
4296,1132,0,1,2,30,NaN,1,1,0.0,train
4313,1212,0,1,2,20,NaN,28,2,0.0,train
4323,1212,0,1,2,20,NaN,0,2,0.0,train
4328,1212,0,1,2,30,NaN,0,2,0.0,train
4331,1212,0,1,2,40,NaN,22,1,0.0,train
4340,1212,0,1,2,50,NaN,3,2,0.0,train
4351,1296,0,1,2,10,NaN,16,3,0.0,train
4391,1385,0,1,2,30,NaN,11,2,0.0,train
4407,1478,0,1,2,5,NaN,22,2,0.0,train
4414,1478,0,1,2,15,NaN,1,3,0.0,train
4422,1478,0,1,2,20,NaN,12,3,0.0,train
4433,1478,0,1,2,40,NaN,0,2,0.0,train
4435,1478,0,1,2,60,NaN,32,2,0.0,train
4442,1576,0,1,2,10,NaN,18,2,0.0,train
4448,1576,0,1,2,20,NaN,16,1,0.0,train
4458,1575,0,1,2,40,NaN,20,3,0.0,train
4464,1575,0,1,2,10,NaN,10,2,1.0,train
4478,1678,0,1,2,20,NaN,17,3,0.0,train
4491,1678,0,1,2,40,NaN,24,3,0.0,train
4500,1786,0,1,2,20,NaN,20,3,0.0,train
4509,1785,0,1,2,30,NaN,25,2,0.0,train
4526,1898,0,1,2,20,NaN,34,1,0.0,train
4538,1898,0,1,2,35,NaN,13,2,0.0,train
4548,2015,0,1,2,10,NaN,18,1,0.0,train
4558,2015,0,1,2,20,NaN,12,2,0.0,train
4578,2139,0,1,2,20,NaN,22,2,0.0,train
4594,2138,0,1,2,20,NaN,1,1,1.0,train
4599,188,1,1,1,0,NaN,0,2,NaN,test
4605,851,1,0,1,0,NaN,0,3,NaN,test
4610,1898,0,1,1,0,NaN,0,2,NaN,test
4620,3336,0,1,1,0,NaN,0,2,NaN,test
4638,375,0,0,3,30,NaN,0,1,NaN,test
4656,489,0,0,3,60,NaN,0,3,NaN,test
4664,531,0,1,3,40,NaN,0,3,NaN,test
4678,677,0,0,3,10,NaN,0,3,NaN,test
4687,731,0,1,3,30,NaN,0,2,NaN,test
4693,790,0,0,3,40,NaN,0,2,NaN,test
4699,789,0,1,3,50,NaN,0,2,NaN,test
4712,916,0,0,3,20,NaN,0,2,NaN,test
4715,915,0,0,3,30,NaN,0,2,NaN,test
4718,915,0,1,3,35,NaN,0,2,NaN,test
4737,1056,0,1,3,40,NaN,0,1,NaN,test
4740,1132,0,0,3,30,NaN,0,3,NaN,test
4754,1212,0,0,3,30,NaN,0,1,NaN,test
4762,1296,0,1,3,30,NaN,0,3,NaN,test
4764,1297,0,1,3,30,NaN,0,1,NaN,test
4787,1478,0,1,3,20,NaN,0,1,NaN,test
4795,1576,0,0,3,20,NaN,0,1,NaN,test
4811,1786,0,1,3,5,NaN,0,1,NaN,test
4817,1898,0,0,3,40,NaN,0,2,NaN,test
4820,1898,0,1,3,15,NaN,0,2,NaN,test
4825,2015,0,1,3,20,NaN,0,1,NaN,test
4830,2139,0,0,3,20,NaN,0,3,NaN,test
4848,2401,0,1,3,40,NaN,0,2,NaN,test
4855,2688,0,0,3,20,NaN,0,1,NaN,test
4858,2687,0,0,3,20,NaN,0,2,NaN,test
4870,3165,0,0,3,30,NaN,0,1,NaN,test
4873,3337,0,0,3,20,NaN,0,2,NaN,test
4890,231,1,0,3,5,NaN,0,2,NaN,test
4898,283,1,1,3,60,NaN,0,2,NaN,test
4906,342,1,0,3,30,NaN,0,3,NaN,test
4925,448,1,1,3,25,NaN,0,3,NaN,test
4931,531,1,1,3,5,NaN,0,2,NaN,test
4935,577,1,0,3,30,NaN,0,2,NaN,test
4944,625,1,1,3,10,NaN,0,2,NaN,test
4956,732,1,0,3,10,NaN,0,3,NaN,test
4957,731,1,0,3,35,NaN,0,2,NaN,test
4963,790,1,1,3,60,NaN,0,2,NaN,test
4966,851,1,0,3,20,NaN,0,3,NaN,test
4977,916,1,0,3,10,NaN,0,2,NaN,test
5004,1212,1,1,3,30,NaN,0,2,NaN,test
5008,1296,1,0,3,10,NaN,0,2,NaN,test
5012,1297,1,1,3,35,NaN,0,2,NaN,test
5017,1385,1,0,3,30,NaN,0,1,NaN,test
5028,1576,1,0,3,40,NaN,0,1,NaN,test
5036,1678,1,1,3,45,NaN,0,2,NaN,test
5042,1785,1,1,3,10,NaN,0,1,NaN,test
5070,2541,1,0,3,10,NaN,0,1,NaN,test
5077,2688,1,0,3,30,NaN,0,1,NaN,test
5098,3516,1,1,3,15,NaN,0,1,NaN,test
5105,256,0,0,2,20,NaN,3,1,NaN,test
5108,312,0,0,2,15,NaN,10,2,NaN,test
5120,448,0,0,2,20,NaN,3,2,NaN,test
5128,488,0,0,2,30,NaN,17,1,NaN,test
5142,577,0,0,2,20,NaN,0,2,NaN,test
5160,677,0,0,2,40,NaN,11,3,NaN,test
5169,731,0,0,2,40,NaN,19,2,NaN,test
5171,731,0,0,2,60,NaN,17,2,NaN,test
5195,851,0,0,2,70,NaN,4,2,NaN,test
5217,984,0,0,2,15,NaN,6,2,NaN,test
5225,984,0,0,2,40,NaN,19,3,NaN,test
5235,1056,0,0,2,20,NaN,14,2,NaN,test
5260,1132,0,0,2,60,NaN,18,2,NaN,test
5270,1212,0,0,2,20,NaN,5,2,NaN,test
5277,1212,0,0,2,40,NaN,7,3,NaN,test
5281,1212,0,0,2,60,NaN,9,3,NaN,test
5284,1296,0,0,2,35,NaN,5,2,NaN,test
5288,1297,0,0,2,30,NaN,18,2,NaN,test
5297,1296,0,0,2,40,NaN,4,3,NaN,test
5306,1385,0,0,2,20,NaN,10,3,NaN,test
5313,1385,0,0,2,50,NaN,7,1,NaN,test
5316,1385,0,0,2,60,NaN,7,2,NaN,test
5323,1478,0,0,2,15,NaN,7,2,NaN,test
5324,1478,0,0,2,20,NaN,30,2,NaN,test
5342,1575,0,0,2,20,NaN,10,3,NaN,test
5347,1576,0,0,2,40,NaN,22,3,NaN,test
5352,1576,0,0,2,60,NaN,12,2,NaN,test
5353,1678,0,0,2,20,NaN,32,3,NaN,test
5362,1785,0,0,2,10,NaN,13,2,NaN,test
5365,1785,0,0,2,20,NaN,27,1,NaN,test
5393,2015,0,0,2,30,NaN,7,2,NaN,test
5396,2015,0,0,2,40,NaN,2,1,NaN,test
5422,2138,0,0,2,10,NaN,16,2,NaN,test
5423,2267,0,0,2,10,NaN,25,1,NaN,test
5431,2267,0,0,2,20,NaN,8,2,NaN,test
5456,2542,0,0,2,70,NaN,9,2,NaN,test
5458,2541,0,0,2,20,NaN,12,2,NaN,test
5459,2688,0,0,2,10,NaN,0,1,NaN,test
5463,2688,0,0,2,20,NaN,5,2,NaN,test
5470,2840,0,0,2,15,NaN,36,2,NaN,test
5472,2840,0,0,2,40,NaN,27,3,NaN,test
5477,2840,0,0,2,60,NaN,13,2,NaN,test
5481,2999,0,0,2,15,NaN,4,3,NaN,test
5485,2999,0,0,2,20,NaN,2,2,NaN,test
5487,2999,0,0,2,40,NaN,21,2,NaN,test
5490,2999,0,0,2,20,NaN,5,2,NaN,test
5492,2999,0,0,2,5,NaN,14,2,NaN,test
5513,4097,0,0,2,10,NaN,22,2,NaN,test

In [31]:
df[(df.Number_Weeks_Used.isnull()) & (df.dataset=='train')].shape

(442, 10)

In [32]:
df[(df.Number_Weeks_Used.isnull()) & (df.dataset=='test')].shape

(119, 10)

In [33]:
df.dropna(inplace=True)

In [34]:
def missing_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Missing Values'})
        mz_table['Attributes'] = df.nunique()
        mz_table['Data Type'] = df.dtypes
        
        mz_table = mz_table.sort_values('Attributes', ascending=False).round(1)
        
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
               )

        return mz_table

missing_values_table(df)

Your selected dataframe has 10 columns and 4157 Rows.

,Zero Values,Missing Values,% of Total Missing Values,Attributes,Data Type
Estimated_Insects_Count,0,0,0.0,71,int64
Number_Weeks_Used,40,0,0.0,63,float64
Number_Weeks_Quit,1336,0,0.0,47,int64
Number_Doses_Week,40,0,0.0,20,int64
Pesticide_Use_Category,0,0,0.0,3,int64
Season,0,0,0.0,3,int64
Crop_Damage,3465,0,0.0,3,float64
Crop_Type,3220,0,0.0,2,int64
Soil_Type,2181,0,0.0,2,int64
dataset,0,0,0.0,1,object

In [36]:
#Lets seprate the train and test from df_final
df_train=df.loc[df["dataset"]=="train"]
df_test=df.loc[df["dataset"]=="test"]

In [37]:
#Lets drop  "dataset" columns from the test dataset
#Also droping "dataset" columns from the train dataset
df_train.drop(columns=["dataset"],inplace=True)
df_test.drop(columns=["dataset"],inplace=True)

In [138]:
df_test.drop(columns=["Crop_Damage"],inplace=True)

In [139]:
df_test.shape

(0, 8)

# Assign THe Values (Input & Output)

In [38]:
df.columns

Index(['Estimated_Insects_Count', 'Crop_Type', 'Soil_Type',
       'Pesticide_Use_Category', 'Number_Doses_Week', 'Number_Weeks_Used',
       'Number_Weeks_Quit', 'Season', 'Crop_Damage', 'dataset'],
      dtype='object')

In [100]:
df_x = df_train.drop(['Crop_Damage'],axis=1)
y = df_train['Crop_Damage']

In [101]:
df_x.shape

(4157, 8)

In [102]:
y.shape

(4157,)

In [103]:
y.nunique()

3

# Evaluation

In [117]:
#Lets do standard scaling of the input variable
from sklearn.metrics import f1_score
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
def maxf1_score(clf,df_x,y):
    maxf=0
    rs=0
    for r_state in range(42,100):
        x_train,x_test,y_train,y_test=train_test_split(df_x, y,random_state = r_state,test_size=0.20,stratify=y)
        x_train, y_train = SMOTE().fit_resample(x_train, y_train)
           
        clf.fit(x_train,y_train)
        y_pred=clf.predict(x_test)
        tmp=f1_score(y_test,y_pred, average='micro')
        print("random state :",r_state," and f1 score: ",tmp)
        if tmp>maxf:
            maxf=tmp
            rs=r_state
    print()
    print("x_train :",x_train.shape[0]," y_train :",y_train.shape[0])
    print()
    print(" y_train :")
    print(y_train.value_counts())
    print()
    print(" y_test :")
    print()
    print(y_test.value_counts())
    print("x_test :",x_test.shape," y_test :",y_test.shape)
    print("maximum f1_score is at random state :",rs," and it is :",maxf)

# Decision Tree

In [118]:
#lets use decision tree classifier
from sklearn.tree import DecisionTreeClassifier
dc=DecisionTreeClassifier()
maxf1_score(dc,df_x,y)

random state : 42  and f1 score:  0.6490384615384616
random state : 43  and f1 score:  0.6802884615384616
random state : 44  and f1 score:  0.6923076923076923
random state : 45  and f1 score:  0.6574519230769231
random state : 46  and f1 score:  0.671875
random state : 47  and f1 score:  0.6550480769230769
random state : 48  and f1 score:  0.6778846153846154
random state : 49  and f1 score:  0.6766826923076923
random state : 50  and f1 score:  0.7079326923076922
random state : 51  and f1 score:  0.6862980769230769
random state : 52  and f1 score:  0.6754807692307693
random state : 53  and f1 score:  0.6598557692307693
random state : 54  and f1 score:  0.6346153846153846
random state : 55  and f1 score:  0.6658653846153846
random state : 56  and f1 score:  0.6658653846153846
random state : 57  and f1 score:  0.6838942307692307
random state : 58  and f1 score:  0.6682692307692307
random state : 59  and f1 score:  0.6670673076923077
random state : 60  and f1 score:  0.6670673076923077
random state : 61  and f1 score:  0.6514423076923077
random state : 62  and f1 score:  0.6574519230769231
random state : 63  and f1 score:  0.6754807692307693
random state : 64  and f1 score:  0.6706730769230769
random state : 65  and f1 score:  0.7151442307692307
random state : 66  and f1 score:  0.6899038461538461
random state : 67  and f1 score:  0.6971153846153846
random state : 68  and f1 score:  0.6850961538461539
random state : 69  and f1 score:  0.6742788461538461
random state : 70  and f1 score:  0.6935096153846154
random state : 71  and f1 score:  0.6706730769230769
random state : 72  and f1 score:  0.6899038461538461
random state : 73  and f1 score:  0.6875
random state : 74  and f1 score:  0.6802884615384616
random state : 75  and f1 score:  0.6490384615384616
random state : 76  and f1 score:  0.6778846153846154
random state : 77  and f1 score:  0.6634615384615384
random state : 78  and f1 score:  0.6850961538461539
random state : 79  and f1 score:  0.6947115384615384
random state : 80  and f1 score:  0.6514423076923077
random state : 81  and f1 score:  0.6586538461538461
random state : 82  and f1 score:  0.7019230769230769
random state : 83  and f1 score:  0.6610576923076923
random state : 84  and f1 score:  0.6814903846153846
random state : 85  and f1 score:  0.6995192307692307
random state : 86  and f1 score:  0.671875
random state : 87  and f1 score:  0.6850961538461539
random state : 88  and f1 score:  0.6959134615384616
random state : 89  and f1 score:  0.6899038461538461
random state : 90  and f1 score:  0.6959134615384616
random state : 91  and f1 score:  0.6838942307692307
random state : 92  and f1 score:  0.6682692307692307
random state : 93  and f1 score:  0.7067307692307693
random state : 94  and f1 score:  0.6899038461538461
random state : 95  and f1 score:  0.6947115384615384
random state : 96  and f1 score:  0.6706730769230769
random state : 97  and f1 score:  0.671875
random state : 98  and f1 score:  0.65625
random state : 99  and f1 score:  0.6526442307692307

x_train : 8316  y_train : 8316

 y_train :
2.0    2772
0.0    2772
1.0    2772
Name: Crop_Damage, dtype: int64

 y_test :

0.0    693
1.0    118
2.0     21
Name: Crop_Damage, dtype: int64
x_test : (832, 8)  y_test : (832,)
maximum f1_score is at random state : 65  and it is : 0.7151442307692307

In [120]:
x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = 65,test_size=0.20)
y_pred_dc = dc.predict(x_test)

In [121]:
target_names = ['class 0', 'class 1', 'class 2']

In [122]:
y_test.nunique()

3

In [123]:
y_test.value_counts()

0.0    681
1.0    138
2.0     13
Name: Crop_Damage, dtype: int64

In [124]:
print(classification_report(y_test, y_pred_dc, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.97      0.95      0.96       681
     class 1       0.81      0.84      0.83       138
     class 2       0.36      0.69      0.47        13

    accuracy                           0.93       832
   macro avg       0.71      0.83      0.75       832
weighted avg       0.94      0.93      0.93       832

# Random Forest

In [49]:
#lets chcek random forest also
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
parameters={"n_estimators":[10,100,500]}
rf_clf=RandomForestClassifier()
clf = GridSearchCV(rf_clf, parameters, cv=10,scoring="accuracy")
clf.fit(df_x,y)
clf.best_params_

{'n_estimators': 10}

In [125]:
rf_clf=RandomForestClassifier(n_estimators=10)
maxf1_score(rf_clf,df_x,y)

random state : 42  and f1 score:  0.7211538461538461
random state : 43  and f1 score:  0.7271634615384615
random state : 44  and f1 score:  0.7415865384615384
random state : 45  and f1 score:  0.7403846153846154
random state : 46  and f1 score:  0.7223557692307693
random state : 47  and f1 score:  0.7403846153846154
random state : 48  and f1 score:  0.7331730769230769
random state : 49  and f1 score:  0.7235576923076923
random state : 50  and f1 score:  0.75
random state : 51  and f1 score:  0.7620192307692307
random state : 52  and f1 score:  0.7451923076923076
random state : 53  and f1 score:  0.7247596153846154
random state : 54  and f1 score:  0.7271634615384615
random state : 55  and f1 score:  0.7307692307692306
random state : 56  and f1 score:  0.7223557692307693
random state : 57  and f1 score:  0.734375
random state : 58  and f1 score:  0.7403846153846154
random state : 59  and f1 score:  0.7307692307692306
random state : 60  and f1 score:  0.719951923076923
random state : 61  and f1 score:  0.719951923076923
random state : 62  and f1 score:  0.7391826923076923
random state : 63  and f1 score:  0.7403846153846154
random state : 64  and f1 score:  0.7271634615384615
random state : 65  and f1 score:  0.7560096153846155
random state : 66  and f1 score:  0.735576923076923
random state : 67  and f1 score:  0.7175480769230769
random state : 68  and f1 score:  0.7403846153846154
random state : 69  and f1 score:  0.7247596153846154
random state : 70  and f1 score:  0.7259615384615384
random state : 71  and f1 score:  0.7427884615384616
random state : 72  and f1 score:  0.7415865384615384
random state : 73  and f1 score:  0.7259615384615384
random state : 74  and f1 score:  0.7415865384615384
random state : 75  and f1 score:  0.7271634615384615
random state : 76  and f1 score:  0.7211538461538461
random state : 77  and f1 score:  0.7307692307692306
random state : 78  and f1 score:  0.734375
random state : 79  and f1 score:  0.7451923076923076
random state : 80  and f1 score:  0.7620192307692307
random state : 81  and f1 score:  0.7091346153846154
random state : 82  and f1 score:  0.7512019230769231
random state : 83  and f1 score:  0.7367788461538461
random state : 84  and f1 score:  0.7427884615384616
random state : 85  and f1 score:  0.7379807692307693
random state : 86  and f1 score:  0.75
random state : 87  and f1 score:  0.7319711538461539
random state : 88  and f1 score:  0.7295673076923077
random state : 89  and f1 score:  0.7295673076923077
random state : 90  and f1 score:  0.7295673076923077
random state : 91  and f1 score:  0.7608173076923077
random state : 92  and f1 score:  0.7331730769230769
random state : 93  and f1 score:  0.7331730769230769
random state : 94  and f1 score:  0.7427884615384616
random state : 95  and f1 score:  0.7680288461538461
random state : 96  and f1 score:  0.7307692307692306
random state : 97  and f1 score:  0.7283653846153846
random state : 98  and f1 score:  0.7127403846153846
random state : 99  and f1 score:  0.7259615384615384

x_train : 8316  y_train : 8316

 y_train :
2.0    2772
0.0    2772
1.0    2772
Name: Crop_Damage, dtype: int64

 y_test :

0.0    693
1.0    118
2.0     21
Name: Crop_Damage, dtype: int64
x_test : (832, 8)  y_test : (832,)
maximum f1_score is at random state : 95  and it is : 0.7680288461538461

In [126]:
x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = 80,test_size=0.20)
y_pred_rf = rf_clf.predict(x_test)

In [127]:
target_names = ['class 0', 'class 1', 'class 2']

In [128]:
y_test.nunique()

3

In [129]:
y_test.value_counts()

0.0    688
1.0    124
2.0     20
Name: Crop_Damage, dtype: int64

In [84]:
print(classification_report(y_test, y_pred_rf, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.96      0.96      0.96       688
     class 1       0.76      0.77      0.77       124
     class 2       0.61      0.70      0.65        20

    accuracy                           0.92       832
   macro avg       0.78      0.81      0.79       832
weighted avg       0.92      0.92      0.92       832

In [130]:
#lets chcek KNN
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings("ignore")
kc=KNeighborsClassifier()
neighbors={"n_neighbors":range(1,30)}
clf = GridSearchCV(kc, neighbors, cv=5,scoring="accuracy")
clf.fit(df_x,y)
clf.best_params_

{'n_neighbors': 29}

In [131]:
kc=KNeighborsClassifier(n_neighbors=29)
maxf1_score(kc,df_x,y)

random state : 42  and f1 score:  0.5480769230769231
random state : 43  and f1 score:  0.5600961538461539
random state : 44  and f1 score:  0.5612980769230769
random state : 45  and f1 score:  0.5276442307692307
random state : 46  and f1 score:  0.5432692307692307
random state : 47  and f1 score:  0.4795673076923077
random state : 48  and f1 score:  0.5300480769230769
random state : 49  and f1 score:  0.5336538461538461
random state : 50  and f1 score:  0.5300480769230769
random state : 51  and f1 score:  0.5649038461538461
random state : 52  and f1 score:  0.5192307692307693
random state : 53  and f1 score:  0.5240384615384616
random state : 54  and f1 score:  0.5528846153846154
random state : 55  and f1 score:  0.5372596153846154
random state : 56  and f1 score:  0.5360576923076923
random state : 57  and f1 score:  0.5264423076923077
random state : 58  and f1 score:  0.5588942307692307
random state : 59  and f1 score:  0.5444711538461539
random state : 60  and f1 score:  0.5276442307692307
random state : 61  and f1 score:  0.5432692307692307
random state : 62  and f1 score:  0.5673076923076923
random state : 63  and f1 score:  0.5408653846153846
random state : 64  and f1 score:  0.5456730769230769
random state : 65  and f1 score:  0.5853365384615384
random state : 66  and f1 score:  0.5504807692307693
random state : 67  and f1 score:  0.5432692307692307
random state : 68  and f1 score:  0.5588942307692307
random state : 69  and f1 score:  0.5276442307692307
random state : 70  and f1 score:  0.5552884615384616
random state : 71  and f1 score:  0.5396634615384616
random state : 72  and f1 score:  0.5504807692307693
random state : 73  and f1 score:  0.5216346153846154
random state : 74  and f1 score:  0.5600961538461539
random state : 75  and f1 score:  0.5372596153846154
random state : 76  and f1 score:  0.5276442307692307
random state : 77  and f1 score:  0.5504807692307693
random state : 78  and f1 score:  0.5372596153846154
random state : 79  and f1 score:  0.5252403846153846
random state : 80  and f1 score:  0.5649038461538461
random state : 81  and f1 score:  0.5216346153846154
random state : 82  and f1 score:  0.5528846153846154
random state : 83  and f1 score:  0.5444711538461539
random state : 84  and f1 score:  0.5264423076923077
random state : 85  and f1 score:  0.5348557692307693
random state : 86  and f1 score:  0.5240384615384616
random state : 87  and f1 score:  0.5264423076923077
random state : 88  and f1 score:  0.546875
random state : 89  and f1 score:  0.5216346153846154
random state : 90  and f1 score:  0.5432692307692307
random state : 91  and f1 score:  0.5300480769230769
random state : 92  and f1 score:  0.5300480769230769
random state : 93  and f1 score:  0.5552884615384616
random state : 94  and f1 score:  0.5384615384615384
random state : 95  and f1 score:  0.5192307692307693
random state : 96  and f1 score:  0.5240384615384616
random state : 97  and f1 score:  0.5528846153846154
random state : 98  and f1 score:  0.5564903846153846
random state : 99  and f1 score:  0.5180288461538461

x_train : 8316  y_train : 8316

 y_train :
2.0    2772
0.0    2772
1.0    2772
Name: Crop_Damage, dtype: int64

 y_test :

0.0    693
1.0    118
2.0     21
Name: Crop_Damage, dtype: int64
x_test : (832, 8)  y_test : (832,)
maximum f1_score is at random state : 65  and it is : 0.5853365384615384

In [132]:
x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = 51,test_size=0.20)
y_pred_kc = kc.predict(x_test)

In [133]:
target_names = ['class 0', 'class 1', 'class 2']

y_test.nunique()

3

In [134]:
y_test.value_counts()

0.0    691
1.0    122
2.0     19
Name: Crop_Damage, dtype: int64

In [135]:
print(classification_report(y_test, y_pred_kc, target_names=target_names))

              precision    recall  f1-score   support

     class 0       0.94      0.61      0.74       691
     class 1       0.30      0.60      0.40       122
     class 2       0.09      0.68      0.16        19

    accuracy                           0.61       832
   macro avg       0.44      0.63      0.43       832
weighted avg       0.83      0.61      0.67       832

# Prediction

In [140]:
y_pred_final = rf_clf.predict(x_test)

In [141]:
#lets make the dataframe for price_pred
prediction=pd.DataFrame(y_pred_final,columns=["Crop_Damage"])

In [142]:
#Lets save the submission to csv
prediction.to_csv("Crop_Damage_Predictions.csv",index=False)